.box-bikes {
  gap: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .box-bikes {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}

@media (max-width: 1050px) {
  .box-bikes {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}

@media (max-width: 700px) {
  .box-bikes {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
}

.colored-button {
  background-color: #43766c !important;
  color: white;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgba(0, 0, 0, 0.2588235294);
  border-bottom-color: #43766c;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 20%;
  right: 45%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
